
@{
    ViewBag.Title = "Sobre nosotros";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>
    <link rel="stylesheet" href="~/Content/StyleAboutUs.css">
</head>
<body>
    <div class="banner">
        <img src="~/Content/Image/AboutUs/banner.jpg" alt="" class="banner-img">
        <div class="container">
            <h1 class="banner-title">Sobre</h1>
            <h1 class="banner-title2">Nosotros</h1>
            <p class="banner-txt">DESARROLLAMOS PARA TI</p>
        </div>
    </div>
    <main>
        <div class="container">
            <section class="info">
                <article class="info-column">
                    <h1 class="info-title">Misión</h1>
                    <h4 class="info-title2">Misión</h4>
                    <p class="info-txt">
                        Proveer las tecnologías más vanguardistas impulsando el desarrollo competitivo y efectivo en medida de las
                        necesidades de nuestros clientes, con el propósito de satisfacer continuamente sus expectativas. Para ello
                        se implementarán soluciones prácticas ajustadas a sus requerimientos y desarrolladas en un ambiente de calidad,
                        donde el servicio ofrecido es el reflejo de la eficiencia y eficacia empresarial.
                    </p>
                </article>
                <article class="info-column">
                    <h1 class="info-title">Visión</h1>
                    <h4 class="info-title2">Visión</h4>
                    <p class="info-txt">
                        Ser una empresa revolucionaria en el mundo de la tecnología capaz de brindar servicios y soluciones con fundamento
                        en la calidad, creatividad, transparencia, compromiso y responsabilidad con el objetivo de brindar software óptimo
                        a los clientes que depositan su confianza en nosotros. Además, desempeñar una labor ética que cumpla con los estándares
                        y tecnologías existentes o venideras para así alcanzar el liderazgo en la innovación tecnológica.
                    </p>
                </article>
                <article class="info-column">
                    <h1 class="info-title">Valores</h1>
                    <h4 class="info-title2">Valores</h4>
                    <span class="info-txtv">Confidencialidad</span>
                    <span class="info-txtv">Honestidad</span>
                    <span class="info-txtv">Responsabilidad</span>
                    <span class="info-txtv">Disponibilidad al cambio</span>
                    <span class="info-txtv">Respeto</span>
                    <span class="info-txtv">Puntualidad</span>
                </article>
            </section>
            <hr class="separator">
            <section class="aboutus">
                <h2 class="section-title">NOSOTROS SOMOS JADAD</h2>
                <p class="section-txt">We're a bunch of business savvy technical experts</p>
                <div class="aboutus-column">
                    <img src="~/Content/Image/AboutUs/person-1.jpg" alt="" class="person-img">
                    <h3 class="our-name">Hansel Alberto Mendoza</h3>
                    <p class="our-role">GERENTE DEL PROYECTO</p>
                </div>
                <div class="aboutus-column">
                    <img src="~/Content/Image/AboutUs/person-2.jpg" alt="" class="person-img">
                    <h3 class="our-name">Juan Caminero</h3>
                    <span class="our-role">PROGRAMADOR JEFE</span>
                </div>
                <div class="aboutus-column">
                    <img src="~/Content/Image/AboutUs/person-3.jpg" alt="" class="person-img">
                    <h3 class="our-name">Abel T. Suarez</h3>
                    <span class="our-role">ENCARGADO DE REDES</span>
                </div>
                <div class="aboutus-column">
                    <img src="~/Content/Image/AboutUs/person-4.jpg" alt="" class="person-img">
                    <h3 class="our-name">Victor A. Pimentel</h3>
                    <span class="our-role">GESTOR DE BASE DE DATOS</span>
                </div>
                <div class="aboutus-column">
                    <img src="~/Content/Image/AboutUs/person-5.jpg" alt="" class="person-img">
                    <h3 class="our-name">Máxima Ozuna</h3>
                    <span class="our-role">TESTER JEFE</span>
                </div>
                <div class="aboutus-column">
                    <img src="~/Content/Image/AboutUs/person-6.jpg" alt="" class="person-img">
                    <h3 class="our-name">Darianny Santana</h3>
                    <span class="our-role">ENCARGADO DE MARKETING</span>
                </div>
                <div class="aboutus-column">
                    <img src="~/Content/Image/AboutUs/person-7.jpg" alt="" class="person-img">
                    <h3 class="our-name">Félix Junior Peguero</h3>
                    <span class="our-role">ENCARGADO DE FINANZAS</span>
                </div>
            </section>
        </div>
    </main>
</body>
</html>