@{ 
    ViewBag.Title = "Inicio";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/styleHome.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nova+Square&display=swap" rel="stylesheet">
</head>
<body>

    <header>

        <div class="banner">
            <h1 class="banner-title">JADAD</h1>
            <h3 class="banner-subtitle">Desarrollamos pensando en ti</h3>
        </div>

    </header>

    <main>

        <section class="description">

            <div class="description-div max-width">

                <p class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Tempore fuga delectus impedit dolore reiciendis laudantium quisquam quaerat deserunt
                    quam repellendus ad facilis illo nihil nostrum pariatur exercitationem, cumque hic
                    iusto, enim error nisi. Aut vero cum alias, similique, in aliquam ipsa voluptatibus sequi,
                    cupiditate ab placeat non suscipit quae ducimusiusto, enim error nisi. Aut vero cum alias,
                    similique, in aliquam ipsa voluptatibus sequi, cupiditate ab placeat suscipit ducimus!
                </p>

            </div>

        </section>

        <section class="services">

            <div class="services-info gradient">

                <h2 class="subtitle">SERVICIOS</h2>
                <p class="text max-width">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
                    eius dolor corrupti! Ipsa accusamus, et tenetur totam quae earum placeat voluptates, soluta
                    id dolor esse tempora eveniet cumque animi neque.
                </p>

            </div>

            <div class="services-content max-width">

                <div class="services-cards">

                    <div class="services-card">
                        <img src="~/Content/Image/Home/computer.png" alt="">
                        <h4>Servicio</h4>
                        <p class="text">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam autem magni commodi
                            quasi, modi sequi eius suscipit beatae assumenda asperiores?
                        </p>
                    </div>

                    <div class="services-card">
                        <img src="~/Content/Image/Home/search.png" alt="">
                        <h4>Servicio</h4>
                        <p class="text">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam autem magni commodi
                            quasi, modi sequi eius suscipit beatae assumenda asperiores?
                        </p>
                    </div>

                    <div class="services-card">
                        <img src="~/Content/Image/Home/backend.png" alt="">
                        <h4>Servicio</h4>
                        <p class="text">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam autem magni commodi
                            quasi, modi sequi eius suscipit beatae assumenda asperiores?
                        </p>
                    </div>

                </div>

                @Html.ActionLink("Mas servicios", "Index", "Services", new { @class = "button"})

                <hr>

            </div>

        </section>

        <section class="briefcase">

            <div class="briefcase-div max-width">

                <h2 class="subtitle">PORTAFOLIO</h2>
                <h3 class="text"><b>PORTAFOLIO</b></h3>

                <div class="proyect">

                    <div class="one">
                        <img src="~/Content/Image/Home/proyect-one.jpg" alt="">
                    </div>

                    <div class="two text">
                        <h4>Servicio</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
                            eius dolor corrupt olor sit amet consectetur adipisicing elit. Laboriosam autem
                            magni commodi quasi, modi sequi eius susci
                        </p>
                    </div>

                </div>

                <div class="proyect">

                    <div class="one right">
                        <img src="~/Content/Image/Home/proyect-two.jpg" alt="">
                    </div>

                    <div class="two text">
                        <h4>Servicio</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
                            eius dolor corrupt olor sit amet consectetur adipisicing elit. Laboriosam autem
                            magni commodi quasi, modi sequi eius susci
                        </p>
                    </div>

                </div>

            </div>

        </section>

        <section class="testimonies gradient">

            <div class="testimonies-div max-width">

                <h2 class="subtitle">TESTIMONIOS</h2>

                <ul class="slider">

                    <li id="slide-one">
                        <img name="slider" src="~/Content/Image/Home/one-alexander.jpg" alt="">
                        <div>
                            <p class="text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
                                eius dolor corrupti! Ipsa accusamus, et tenetur totam quae earum placeat voluptates, soluta
                                uno id dolor esse tempora eveniet cumque animi neque.
                            </p>
                        </div>
                    </li>

                    <li id="slide-two">
                        <div>
                            <img src="~/Content/Image/Home/two-justin-kropp.jpg" alt="">
                            <p class="text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
                                eius dolor corrupti! Ipsa accusamus, et tenetur totam quae earum placeat voluptates, soluta
                                dos id dolor esse tempora eveniet cumque animi neque.
                            </p>
                        </div>
                    </li>

                    <li id="slide-three">
                        <div>
                            <img src="~/Content/Image/Home/three-daniel.png" alt="">
                            <p class="text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
                                eius dolor corrupti! Ipsa accusamus, et tenetur totam quae earum placeat voluptates, soluta
                                tres id dolor esse tempora eveniet cumque animi neque.
                            </p>
                        </div>
                    </li>

                </ul>

            </div>

            <!-- <ul class="menu-slider">
                <li>
                  <a href="#slide-one"></a>
                </li>
                <li>
                  <a href="#slide-two"></a>
                </li>
                 <li>
                  <a href="#slide-three"></a>
                </li>
            </ul> -->

        </section>

    </main>

</body>
</html>