@{
    ViewBag.Title = "Servicios";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/styleServices.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nova+Square&display=swap" rel="stylesheet">
</head>
<body>

    <div class="serviciostitulo">

        <h1 id="titulo1">SERVICIOS</h1>

    </div>

    <div class="contenedor maximoancho">

        <ul class="slider">

            <li id="slide1">
                <img src="~/Content/Image/Services/carrete 1.jpg" />
            </li>

            <li id="slide2">
                <img src="~/Content/Image/Services/carrete 2.jpg" />
            </li>

            <li id="slide3">
                <h1>Ejemplo con otros elementos</h1>
                <p>JadadRd</p>
                <a href="https://www.facebook.com/JADADrd-101512021599636/" target="_blank">¡Siguenos en Facebook!</a>
            </li>

        </ul>

    </div>

    <div class="contenedorblue"></div>

    <div class="container">

        <h1 style="text-align: center;">PÁGINAS WEB</h1>

        <div class="carta">

            <div class="gallery">
                <a target="_blank" href="~/Content/Image/Services/pagina-web1.jpg">
                    <img src="~/Content/Image/Services/pagina-web1.jpg" alt="pagina web 1" width="600" height="400">
                </a>
                <div class="desc">Diseño hecho para fulano 1</div>
            </div>

            <div class="gallery">
                <a target="_blank" href="~/Content/Image/Services/pagina-web2.jpg">
                    <img src="~/Content/Image/Services/pagina-web2.jpg" alt="pagina web 2" width="600" height="400">
                </a>
                <div class="desc">Diseño hecho para fulano 2</div>
            </div>

            <div class="gallery">
                <a target="_blank" href="~/Content/Image/Services/pagina-web3.jpg">
                    <img src="~/Content/Image/Services/pagina-web3.jpg" alt="pagina web 3" width="600" height="400">
                </a>
                <div class="desc">Diseño hecho para fulano 3</div>
            </div>

        </div>

    </div>

    <div class="contenedorblue dos"></div>

    <div class="container two">

        <h1>PROYECTOS DE ESCRITORIO</h1>

        <div class="carta">

            <div class="gallery">
                <a target="_blank" href="~/Content/Image/Services/pagina-web1.jpg">
                    <img src="~/Content/Image/Services/pagina-web1.jpg" alt="pagina web 1" width="600" height="400">
                </a>
                <div class="desc">Diseño hecho para fulano 1</div>
            </div>

            <div class="gallery">
                <a target="_blank" href="~/Content/Image/Services/pagina-web2.jpg">
                    <img src="~/Content/Image/Services/pagina-web2.jpg" alt="pagina web 2" width="600" height="400">
                </a>
                <div class="desc">Diseño hecho para fulano 2</div>
            </div>

            <div class="gallery">
                <a target="_blank" href="~/Content/Image/Services/pagina-web3.jpg">
                    <img src="~/Content/Image/Services/pagina-web3.jpg" alt="pagina web 3" width="600" height="400">
                </a>
                <div class="desc">Diseño hecho para fulano 3</div>
            </div>

        </div>

    </div>

    <div class="contenedorblue tres"></div>

    <div class="container three">

        <h1>OTROS SERVICIOS</h1>

        <div class="carta">

            <div class="gallery">
                <a target="_blank" href="~/Content/Image/Services/pagina-web1.jpg">
                    <img src="~/Content/Image/Services/pagina-web1.jpg" alt="pagina web 1" width="600" height="400">
                </a>
                <div class="desc">Diseño hecho para fulano 1</div>
            </div>

            <div class="gallery">
                <a target="_blank" href="~/Content/Image/Services/pagina-web2.jpg">
                    <img src="~/Content/Image/Services/pagina-web2.jpg" alt="pagina web 2" width="600" height="400">
                </a>
                <div class="desc">Diseño hecho para fulano 2</div>
            </div>

            <div class="gallery">
                <a target="_blank" href="~/Content/Image/Services/pagina-web3.jpg">
                    <img src="~/Content/Image/Services/pagina-web3.jpg" alt="pagina web 3" width="600" height="400">
                </a>
                <div class="desc">Diseño hecho para fulano 3</div>
            </div>

        </div>

    </div>

</body>
</html>